---
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";
import { getEntry, getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import WebmentionComments from "../../components/islands/WebmentionComments.astro";

export async function getStaticPaths() {
    const posts: CollectionEntry<"blog">[] = await getCollection("blog");

    return posts.map((post) => {
        return { params: { slug: post.id } };
    });
}
const { slug } = Astro.params;

const post = (await getEntry("blog", slug)) as CollectionEntry<"blog">;
const { Content } = await render(post);
---

<Layout
    title="garden"
    pageTitle={`thrizzle's garden | ${post.data.title}`}
    fullTitle={post.data.title}
    description="my thoughts and ruminations"
>
    <div class="w-full text-center">
        <a
            href="/garden"
            class="mx-auto italic b-b-2 b-muted b-dotted b-b-cover-accent hover:text-glow"
            >see other posts...</a
        >
    </div>
    <hr class="divider" />
    <article class="h-entry w-full">
        <header class="mb-4">
            <div class="lg:flex lg:flex-row lg:justify-between">
                <h1 class="group w-max block" copy-value={Astro.url.toString()}>
                    <a
                        href={Astro.url}
                        class="text-2xl font-bold link p-name u-url"
                    >
                        {post.data.title}
                    </a>
                    <svg
                        class="h-4 hidden transition-[color,transform] duration-1000 scale-100 group-active:transition-none group-hover:inline group-active:scale-125 ml-1 group-active:text-cover-accent"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M4 6h7v2H4v8h7v2H2V6h2zm16 0h-7v2h7v8h-7v2h9V6h-2zm-3 5H7v2h10v-2z"
                            fill="currentColor"></path>
                    </svg>
                </h1>
                <button class="link text-sm" id="text-justify-toggle"
                    >text justify toggle</button
                >
            </div>
            <p class="italic p-summary op-90">{post.data.description}</p>
            <a href={Astro.site} class="hidden p-author h-card">thrizzle</a>
            <time
                datetime={post.data.date.toISOString()}
                class="italic text-base font-normal lowercase op-70 dt-published"
                >written on {post.data.date.toDateString()}</time
            >
        </header>
        <div class="prose text-2xl lg:text-lg max-w-full e-content">
            <Content />
        </div>
    </article>
    <hr class="divider" style="color: var(--accent-text)" />
    <section class="mt-2">
        <h2
            class="text-xl mb-2 font-bold b-b-dotted b-b-1 b-b-cover-accent w-max"
        >
            comments
        </h2>
        <form
            class="mb-4"
            action="https://webmention.io/thrizzle.nekoweb.org/webmention"
            method="post"
            style="color: var(--accent-text, #fff)"
        >
            <div>
                <div>
                    <label for="webmention-form-url"
                        >add response from link:</label
                    >
                    <input
                        type="url"
                        name="source"
                        class="bg-transparent b-cover-accent b-2 px-1 inline"
                        id="webmention-form-url"
                    />

                    <label for="webmention-form-submit"> &nbsp;</label>
                    <input
                        type="submit"
                        value="send webmention"
                        class="link b-2 b-accent p-2 px-2 py-1 rounded-full b-dotted hover:b-solid decoration-none b-cover-accent"
                        id="webmention-form-submit"
                    />
                </div>
            </div>
            <input
                type="hidden"
                name="target"
                value={new URL(`garden/${slug}`, Astro.site).href}
            />
        </form>
        <p class="op-50 text-2xl italic text-center w-full">or...</p>
        <form
            class="my-4"
            method="get"
            action="https://quill.p3k.io/"
            target="_blank"
        >
            <input type="hidden" name="dontask" value="1" />
            <input type="hidden" name="me" value="https://commentpara.de/" />
            <label class="mt-4" for="">(no sign-up!) add a comment via </label>
            <input
                class="inline px-2 py-1 b-1 b-dotted link rounded-full hover:b-solid decoration-none b-cover-accent"
                type="submit"
                value="commentpara.de"
            />
            <input type="hidden" name="reply" value={Astro.url.href} />
        </form>
        <WebmentionComments baseUrl={Astro.site} slug={slug} />
    </section>
</Layout>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // add title click listener
        document.querySelectorAll("[copy-value]").forEach((element) => {
            element.addEventListener("click", () => {
                navigator.clipboard.writeText(
                    element.getAttribute("copy-value") as string,
                );
            });
        });

        // add text justify toggle listener
        const textJustifyToggle = document.getElementById(
            "text-justify-toggle",
        ) as HTMLButtonElement;
        const content = document.querySelector(".e-content") as HTMLDivElement;
        textJustifyToggle.addEventListener("click", () => {
            const currentAlignment = getComputedStyle(content).textAlign;
            content.style.textAlign =
                currentAlignment === "justify" ? "left" : "justify";
        });
    });
</script>
<style is:global>
    /*.e-content p {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
    .e-content {
        font-size: 1rem;
        line-height: 1.75;
    }*/
</style>
